* {
    box-sizing: border-box;
/* border: solid red 1px;*/
}

body {
    background-color: #404258;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    color: white;
}

#arrow {
    transform: scale(70%);
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    max-width: 70%;
    background-color: #6B728E;
    border: solid #6B728E 1px;
    border-radius: 10px;
}

.input_user {
    height: 80px;
    width: 240px;
    border-radius: 6px;
    border: solid #EDEDED 2px;
    color: white;
    background-color: #6B728E;
    font-size: 30px;
    text-align: center;
    font-family: monospace;
}

main {
    margin: 10px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#arrow {
    width: 5em;
    height: 5em;
    margin-top: 0;
}

.imagens {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
    justify-content: space-between;
}

.icone_imagem {
    border: solid transparent 0px;
    border-radius: 60px;
    background-color: #ededed;
}

.icone_imagem:hover {
    background-color: #FB2576;
}


.div_entrada {
    display: flex;
    flex-direction: column;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + .icone_imagem {
    outline: none;
    background-color: #FB2576;
}

.texto_fundo {
    display: flex;
    justify-content: flex-end;
}

.texto_fundo h2{
    max-width: 200px;
    text-align: right;
    color: white;
}
