body {
    background-color: lightgray;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 80px;
    width: 240px;
    border-radius: 6px;
    border: solid black 3px;
    font-size: 30px;
    text-align: center;
}

main {
    text-align: center;
    max-width: 40%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#arrow {
    width: 5em;
    height: 5em;
    margin-top: 0;
}

.imagens {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.icone_imagem  {
    background-color: #ffff6a;
    border-radius: 2em;
    width: 16px;
    height: 16px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone_imagem:hover {
    background-color: blue;
}

.moeda_dolar {
    transform: scale(400%);
}

.moeda_euro {
    transform: scale(380%) translate(-5%);
}

.moeda_real {
    transform: scale(280%);
    width: 16px;
    height: 16px;

}

.div_entrada {
    display: flex;
    flex-direction: column;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
}
